@charset "UTF-8";
@font-face {
  font-family: "raleway-f";
  font-display: swap;
  src: url("../fonts/raleway-black.woff2") format("woff2"), url("../fonts/raleway-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "raleway-f";
  font-display: swap;
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fefefe;
  line-height: 1.55;
  font-family: raleway-f, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: raleway-f, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0e101a;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 85.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.layer,
.content,
.header-layer,
.main-article__content {
  will-change: transform;
}

.header {
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: calc((1vw + 1vh) * -4.5);
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background: url("../img/ground.png") center/cover no-repeat;
}

.layers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.layers__header {
  z-index: 1;
}
.layers__base {
  z-index: 0 !important;
}
.header-layer {
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9d822b;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.header-layer__caption {
  font-size: calc((1vw + 1vh) / 1.175);
  letter-spacing: calc((1vw + 1vh) / 3.5);
  margin-top: calc((1vw + 1vh) * -0.75);
}
.header-layer__title {
  font-size: calc((1vw + 1vh) * 2.65);
  letter-spacing: calc((1vw + 1vh) / 2.25);
}

.layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  pointer-events: none;
}

.main-article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  /* Update: */
  top: -1px;
  z-index: 10;
}
.main-article__content {
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.main-article__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc((1vw + 1vh) * 1.8);
  letter-spacing: calc((1vw + 1vh) / 7.5);
  color: #e7e7e0;
}
.main-article__text {
  max-width: calc((1vw + 1vh) * 30);
  margin-top: calc((1vw + 1vh) / 1.25);
  font-size: calc((1vw + 1vh) * 0.9);
  color: #e7e7e0;
}

.copy {
  position: absolute;
  bottom: calc((1vw + 1vh) * 2.5);
  opacity: 0.45;
  font-size: calc((1vw + 1vh) * 0.75);
  letter-spacing: calc((1vw + 1vh) / 37.5);
}